<main>
    <article class="who-can-use">
      <h2>Everybody has already chose us !</h2>
      <section class="image-wrapper">
        <img src="https://res.cloudinary.com/defiefioi/image/upload/v1627115324/CMS/people-work_rrzdbb.png" alt="People">
      </section>
    </article>

    <article class="benefits-wrapper">
      <article class="benefits">
        <h1>What you get</h1>
        <ul>
          <li class="article-line">
            <p class="article-text">Track Performance</p>
            <span class="article-icon"><i class="fas fa-check-circle"></i></span>
          </li>

          <li class="article-line">
            <p class="article-text">Develop Leadership</p>
            <span class="article-icon"><i class="fas fa-check-circle"></i></span>
          </li>

          <li class="article-line">
            <p class="article-text">Execute Strategy</p>
            <span class="article-icon"><i class="fas fa-check-circle"></i></span>
          </li>

          <li class="article-line">
            <p class="article-text">Deploy Goals</p>
            <span class="article-icon"><i class="fas fa-check-circle"></i></span>
          </li>

          <li class="article-line">
            <p class="article-text">An easy-to-use collaborative platform</p>
            <span class="article-icon"><i class="fas fa-check-circle"></i></span>
          </li>
        </ul>
      </article>
    </article>
  </main>
