<footer>
    <section class="footer-image-wrapper">
      <img src="https://res.cloudinary.com/defiefioi/image/upload/v1627043563/CMS/laptops_lrjvuf.png" alt="Laptops">
    </section>
    <section class="footer-credentials">
      <section class="footer-credentials-links">
        <i class="fab fa-facebook-f"></i>
        <i class="fab fa-instagram"></i>
        <i class="fab fa-linkedin-in"></i>
      </section>
      <section>
        <p>Copyright © 2021, Designed &amp; Developed by Valentin</p>
      </section>
    </section>
  </footer>
