<footer>
  <section class="footer-image-wrapper">
    <img
      src="https://res.cloudinary.com/defiefioi/image/upload/v1627043563/CMS/laptops_lrjvuf.png"
      alt="Laptops"
    />
  </section>
  <section class="footer-credentials">
    <section class="footer-credentials-links">
      <a href="https://www.facebook.com/valentin.vasilev.5268750/"><i class="fab fa-facebook-f"></i></a>

      <a href="https://github.com/vasilev02"><i class="fab fa-github-alt"></i></a>
      
      <a href="https://www.linkedin.com/in/valentin-vasilev-849a8b1a6/"
        ><i class="fab fa-linkedin-in"></i
      ></a>
    </section>
    <section>
      <p>Copyright © 2021, Designed &amp; Developed by Valentin</p>
    </section>
  </section>
</footer>
