<main>
  <article class="sign-in-wrapper">
    <section class="sign-in-image-wrapper">
      <img
        src="https://res.cloudinary.com/defiefioi/image/upload/v1627043564/CMS/building-blocks_cjxlwf.png"
        alt="Building Blocks"
      />
    </section>
    <section class="login-wrapper">
      <section class="login">
        <h2 class="login-title">ACCOUNT LOGIN</h2>
        <form action="">
          <label for="username">
            <i class="far fa-user"></i>
            <input
              #emailInput
              id="username"
              type="text"
              required=""
              placeholder="Username"
            />
          </label>

          <label for="password">
            <i class="fas fa-lock"></i>
            <input
              #passwordInput
              id="password"
              type="password"
              required=""
              placeholder="Password"
            />
          </label>

          <button
            (click)="onLogin(emailInput.value, passwordInput.value)"
            class="btn"
          >
            Sign In
          </button>
        </form>
      </section>
      <section class="no-account">
        <p>
          Don't have an account yet?
          <a href="/register" class="inner-text">Sign Up! </a>
        </p>
      </section>
    </section>
  </article>
</main>
