<article class="take-part">
  <h2>Find your worker</h2>
  <form action="">
    <input
      class="form-control"
      name="searchInput"
      placeholder="Full Name"
      #seachInput="ngModel"
      [(ngModel)]="searchText"
    />
    <button (click)="searchText = ''">X</button>
  </form>
    
  
</article>

<article *ngIf="list" class="lectors">
  <section *ngFor="let user of list" class="lector">
    <section class="inner-section-info" *ngIf="filterCondition(user)">

      <a (click)=detailsWorker(user.uniqueId)><img
        class="lector-img"
        src="https://res.cloudinary.com/defiefioi/image/upload/v1627120084/CMS/worker_duzozy.png"
        alt="Lector Image"
      /></a>

      <h2>{{ user.fullName }}</h2>
      <p>{{ user.position }}</p>
      
    </section>
  </section>
</article>

<section class="loading" *ngIf="!list">
  <ng-lottie [options]="optionsLoading"></ng-lottie>
</section>
