<body>
  <select
    name="role"
    id="role"
    [(ngModel)]="selectedRole"
    (ngModelChange)="onRoleSelected($event)"
  >
    <option value="ALL">ALL</option>
    <option *ngFor="let role of list" value="{{ role.name }}">
      {{ role.name }}
    </option>
  </select>

  <form
    id="form"
    [formGroup]="this.taskService.formAddTask"
    (submit)="onSubmit()"
  >
    <div class="form-control">
      <label for="name" id="label-name"> Task name </label>
      <input
        type="text"
        id="name"
        formControlName="name"
        class="form-control"
        [ngClass]="{ 'is-invalid': submitted && formControls.name.errors }"
        placeholder="Task name"
      />
      <div
        *ngIf="submitted && formControls.name.errors"
        class="role-validation-error"
      >
        <label *ngIf="formControls.name.errors.required"
          >Name is required</label
        >
        <label *ngIf="formControls.name.errors.minlength"
          >Min length is 3 symbols</label
        >
        <label *ngIf="formControls.name.errors.maxlength"
          >Max length is 30 symbols</label
        >
      </div>
    </div>

    <div class="form-control">
      <label for="comment"> Task description </label>

      <textarea
        name="comment"
        id="comment"
        formControlName="description"
        class="form-control"
        [ngClass]="{
          'is-invalid': submitted && formControls.description.errors
        }"
        placeholder="Task description"
      >
      </textarea>
      <div
        *ngIf="submitted && formControls.description.errors"
        class="role-validation-error"
      >
        <label *ngIf="formControls.description.errors.required"
          >Description is required</label
        >
        <label *ngIf="formControls.description.errors.minlength"
          >Min length is 10 symbols</label
        >
        <label *ngIf="formControls.description.errors.maxlength"
          >Max length is 200 symbols</label
        >
      </div>
    </div>

    <button type="submit" value="submit">Submit</button>
  </form>

  <article class="tasks">
    <div class="modal" *ngFor="let task of tasksList">
      <a (click)="deleteTask(task.uniqueId,task.title)" class="close-ribbon">&times;</a>
      <div class="modal-content">
        <h3>{{task.title}}</h3>
        <p class="description">
          {{task.description}}
        </p>
        <p>{{task.role}}</p>
        <p>{{task.date}}</p>
      </div>
    </div>
  </article>
</body>
