<article class="info-card">
    <div class="wrapper">
      <div class="left">
        <img src="https://res.cloudinary.com/defiefioi/image/upload/v1627120084/CMS/worker_duzozy.png" alt="user" width="100">
        <h4>Valentin Vasilev Vasilev</h4>
        <p>UI Developer</p>
      </div>
      <div class="right">
        <div class="info">
          <h3>Information</h3>
          <div class="info_data">
            <div class="data">
              <h4>Email</h4>
              <p>alex@gmail.com</p>
            </div>
            <div class="data">
              <h4>Salary</h4>
              <p>1500</p>
            </div>
          </div>
          <div class="info_data">
            <div class="data">
              <h4>Position</h4>
              <p>IT Specialist</p>
            </div>
            <div class="data">
              <h4>Department</h4>
              <p>IT Sofia</p>
            </div>
          </div>
        </div>
        <div class="social_media">
          <ul>
            <li>
              <a href="#"><i class="fas fa-edit" aria-hidden="true"></i></a>
            </li>
            <li>
              <a href="#"><i class="fas fa-trash-alt" aria-hidden="true"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </article>
