<article class="info-card">
    <div class="wrapper">
      <div *ngIf="userData.status === 'active'" class="left">
        <img src="https://res.cloudinary.com/defiefioi/image/upload/v1627120084/CMS/worker_duzozy.png" alt="user" width="100">
        <h4>{{userData.fullName}}</h4>
        <p class="role-info">{{userData.role}}</p>
      </div>
      <div *ngIf="userData.status === 'unactive'" class="left" style="background: linear-gradient(to right, #405152, #e00e0efa)">
        <img src="https://res.cloudinary.com/defiefioi/image/upload/v1627120084/CMS/worker_duzozy.png" alt="user" width="100">
        <h4>{{userData.fullName}}</h4>
        <p class="role-info">{{userData.role}}</p>
      </div>
      <div class="right">
        <div class="info">
          <h3>Information</h3>
          <div class="info_data">
            <div class="data">
              <h4>Email</h4>
              <p>{{userData.email}}</p>
            </div>
            <div class="data">
              <h4>Salary</h4>
              <p>{{userData.salary}}</p>
            </div>
          </div>
          <div class="info_data">
            <div class="data">
              <h4>Position</h4>
              <p>{{userData.position}}</p>
            </div>
            <div class="data">
              <h4>Department</h4>
              <p>{{userData.department}}</p>
            </div>
          </div>
        </div>
        <div class="social_media">
          <ul>
            <li *ngIf="userData.status === 'active'">
              <a (click)="updateWorker(userData.uniqueId)" ><i class="fas fa-edit" aria-hidden="true"></i></a>
            </li>
            <li *ngIf="userData.status === 'active'">
              <a (click)="deleteUser(userData.uniqueId)"><i class="fas fa-ban" aria-hidden="true"></i></a>
            </li>
            <li *ngIf="userData.status === 'unactive'">
              <a (click)="activateUser(userData.uniqueId)"><i class="fas fa-unlock-alt" aria-hidden="true"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </article>
