<article class="info-card">
    <div class="wrapper">
      <div class="left">
        <img src="https://res.cloudinary.com/defiefioi/image/upload/v1627120084/CMS/worker_duzozy.png" alt="user" width="100">
        <h4>{{userData.fullName}}</h4>
        <p class="role-info">{{userData.role}}</p>
      </div>
      <div class="right">
        <div class="info">
          <h3>Information</h3>
          <div class="info_data">
            <div class="data">
              <h4>Email</h4>
              <p>{{userData.email}}</p>
            </div>
            <div class="data">
              <h4>Salary</h4>
              <p>{{userData.salary}}</p>
            </div>
          </div>
          <div class="info_data">
            <div class="data">
              <h4>Position</h4>
              <p>{{userData.position}}</p>
            </div>
            <div class="data">
              <h4>Department</h4>
              <p>{{userData.department}}</p>
            </div>
          </div>
        </div>
        <div class="social_media">
          <ul>
            <li>
              <a (click)="updateWorker(userData.uniqueId)" ><i class="fas fa-edit" aria-hidden="true"></i></a>
            </li>
            <li>
              <a (click)="deleteUser(userData.uniqueId)"><i class="fas fa-trash-alt" aria-hidden="true"></i></a>
            </li>
          </ul>
        </div>
        <div class="send_message">
          <form
          action="https://formsubmit.co/{{userData.email}}"
          method="POST"
        >
          <input type="hidden" name="_subject" value="{{userData.fullName}} just messaged you !" />
          <input type="email" name="email" required  placeholder="{{loggedUserEmail}}" />
          <input type="text" name="text" required placeholder="Message {{userData.fullName}}" />
          <button type="submit">Send</button>
        </form>
        </div>
      </div>
    </div>
  </article>
