<nav class="navigation">
  <section class="navigation-logo">
    <a routerLink="/">
      <img
        src="https://res.cloudinary.com/defiefioi/image/upload/v1627043564/CMS/logo_qe17lx.png"
        alt="Logo"
      />
    </a>
  </section>
  <ul class="navigation-list">
    <li *ngIf="isLoggedIn">
      <a routerLink="/workers">Workers</a>
    </li>
    <li *ngIf="isLoggedIn">
      <a routerLink="/roles">Roles</a>
    </li>
    <li *ngIf="isLoggedIn">
      <a routerLink="/add-task">Add task</a>
    </li>
    <li *ngIf="isLoggedIn">
      <a  (click)="myInfoDetails()">My info</a>
    </li>
    <li *ngIf="isLoggedIn">
      <a routerLink="/" (click)="logout()">Log out</a>
    </li>

    <li *ngIf="!isLoggedIn">
      <a routerLink="/login">Sign In</a>
    </li>

    <li *ngIf="!isLoggedIn">
      <a routerLink="/register">Sign Up</a>
    </li>

    <li *ngIf="!isLoggedIn">
      <a routerLink="/about">About</a>
    </li>
  </ul>
</nav>
