.site-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 40px;
}

.site-header-image-wrapper {
  max-width: 700px;
}

.site-header-image-wrapper img {
  width: 100%;
}

.site-header-title {
  max-width: 380px;
}

.title-size {
  font-size: 40px;
  font-weight: 200;
}

.inner-text {
  color: #468bcc;
}

.site-second-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 40px;
}

.site-second-header-title {
  max-width: 580px;
}

.site-second-header-image-wrapper {
  max-width: 700px;
}

.site-second-header-image-wrapper img {
  width: 100%;
  border-radius: 10px;
}

.join-the-community {
  text-align: center;
  background: lightblue;
  margin: 50px 0px;
  padding: 50px;
}

.join-the-community h2 {
  margin-top: 0px;
}

.take-part {
  display: flex;
  flex-direction: column;
  background: #66b9f8;
  padding-top: 50px;
  padding-bottom: 70px;
  color: white;
  text-align: center;
  margin-bottom: 50px;
}

.take-part p {
  max-width: 850px;
  margin: 0px auto;
  margin-bottom: 30px;
}

.take-part form{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.take-part form input {
  background: transparent;
  color: white;
  border: 1px solid white;
  border-radius: 4px;
  padding: 5px 10px;
  margin-right: 10px;
}

.take-part form input::placeholder {
  color: white;
}

.btn {
  text-decoration: none;
  background: #ff9f00;
  font-size: 16px;
  border: none;
  color: white;
  border-radius: 10px;
  padding: 10px 30px;
}

.btn:hover {
  background: white;
  color: #468bcc;
  cursor: pointer;
}


@media screen and (max-width: 1200px) {
  .site-header-image-wrapper img {
    width: 95%;
  }
}

@media screen and (max-width: 900px) {
  .title-size {
    font-size: 20px;
  }
  .site-header-image-wrapper img {
    width: 95%;
  }
}

@media screen and (max-width: 750px) {
  .site-header-image-wrapper img {
    width: 95%;
  }
}

@media screen and (max-width: 600px) {
  .title-size {
    font-size: 15px;
  }
  .site-header-image-wrapper img {
    width: 90%;
  }
}
