<div *ngIf="!isLoggedIn">
  <article class="site-header">
  <section class="site-header-image-wrapper">
    <img
      src="https://res.cloudinary.com/defiefioi/image/upload/v1627043563/CMS/man-working_xgpukm.png"
      alt="Man Working"
    />
  </section>
  <section class="site-header-title">
    <h2 class="title-size">
      The best management software to run a company.
      <span class="inner-text"
        >Millions of happy users work better with our app.</span
      >
    </h2>
  </section>
</article>

<article class="site-second-header">
  <section class="site-second-header-title">
    <h2 class="title-size">
      <span class="inner-text">Company project management</span> is a tool to
      help you plan, organize, and manage your team's work, from start to
      finish.
    </h2>
    <h2 class="title-size">
      Coordinate team tasks so everyone knows who's doing what.
    </h2>
  </section>
  <section class="site-second-header-image-wrapper">
    <img
      src="https://res.cloudinary.com/defiefioi/image/upload/v1627043563/CMS/Daco_4334486_r1fizv.png"
      alt="People Working"
    />
  </section>
</article>

<article class="join-the-community">
  <h2 class="title-size">Do not hesitate ! Check your team now.</h2>
  <a href="/login" class="btn">Check</a>
</article>

<article class="take-part">
  <h2 class="title-size">Do you have any questions ?</h2>

  <form
    action="https://formsubmit.co/3b8c1075ed36e6a574c1cc199c500f20"
    method="POST"
  >
    <input type="hidden" name="_subject" value="New submission!" />
    <input
      type="hidden"
      name="_autoresponse"
      value="Thank you for the question !"
    />
    <input type="hidden" name="_template" value="table" />
    <input type="email" name="email" required="" placeholder="Your email" />
    <input type="text" name="text" required="" placeholder="Your message" />
    <button class="btn" type="submit">Send</button>
  </form>
</article>
</div>


<article *ngIf="isLoggedIn" class="home">
  <h2>Welcome, <span class="inner-text">{{userData.fullName}}</span> !</h2>
  <section class="home-image-wrapper">
    <img
      src="https://res.cloudinary.com/defiefioi/image/upload/v1627115323/CMS/working-blocks_lymnzx.png"
      alt="People Working On Blocks"
    />
  </section>
</article>
